name: check-dart

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-flutter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # 5.0.1

      - uses: wasabeef/import-asdf-tool-versions-action@d0271ba3d7b75e5861889c6923e898190e3a7383 # v1.1.0
        id: tool-versions

      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          flutter-version: ${{ steps.tool-versions.outputs.flutter }}
          cache: true

      - name: Install dependencies (package only)
        run: |
          flutter pub get
          dart format --output=none --set-exit-if-changed lib test
          flutter analyze
          flutter test

  check-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # 5.0.1

      - uses: wasabeef/import-asdf-tool-versions-action@d0271ba3d7b75e5861889c6923e898190e3a7383 # v1.1.0
        id: tool-versions

      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          flutter-version: ${{ steps.tool-versions.outputs.flutter }}
          cache: true

      - name: Install dependencies (package only)
        run: flutter pub get

      - name: Install example dependencies
        working-directory: example
        run: flutter pub get

      - name: Build plugin for iOS simulator
        working-directory: example
        run: flutter build ios --simulator --no-codesign
